@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
/* font-family: 'Fresca', sans-serif; */



body {
    margin: 0;
    padding: 0;
    font-family: 'Fresca', sans-serif;
    background: rgb(98, 107, 114);
    height: 10000px;
}

/* -----------------------------------------  Cabeçalho  ---------------------------------------------------------------------------------------------- */

.cabecalho {
    background: linear-gradient(to bottom, black, #2d2d2d);
    width: 100%;
}

h1 {
    margin: 0;
}

.logo {
    padding: 10px 0 0 230px;
    width: 100px;
    float: left;
}

.navegacao {
    display: inline-block;
    color: #DEDEDA;
    margin: 10px 100px;
    /* right: 600px;
    top: 0;
    position: absolute; */
}

.navegacao li {
    display: inline-block;
    padding: 25px 10px;   
    font-size: 24px;
}

.navegacao a:hover {
    color: #ffbf00;

}

a {
    color: #DEDEDA;
}



/* -----------------------------------------  Main  ---------------------------------------------------------------------------------------------- */

.principal {
    width: 940px;
    margin: 0 auto;
    background: rgb(34, 38, 41);
    height: 600px;
}


.item {
    display: inline-block;
}

/* -----------------------------------------  Formações  ---------------------------------------------------------------------------------------------- */

.formacoes {
    background: rgb(87, 70, 70);
    height: 300px;
}

.iniciante-logo {
    width: 350px;
    padding: 30px 20px;
}

.formacao {
    width: 100px;
    transition: 0.5s all;
    padding: 30px 20px;
}


.formacao:hover {
    width: 200px;
    border: 1px solid rgb(185, 24, 24);
}



/* -----------------------------------------  Cursos  ---------------------------------------------------------------------------------------------- */



.lista-curso {
    padding: 0 10px;

}


/* tá nas imagens*/
.curso {
    width: 300px;
    transition: 0.5s all;
}


.curso:hover {
    width: 293px;
    border: 1px solid rgb(185, 24, 24);
}