@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
/* font-family: 'Fresca', sans-serif; */



body {
    margin: 0;
    padding: 0;
    font-family: 'Fresca', sans-serif;
    background: #222629;
    height: 1000px;
}

/* -----------------------------------------  Cabeçalho  ---------------------------------------------------------------------------------------------- */

.cabecalho {
    background: linear-gradient(to bottom, black, #2d2d2d);
    width: 100%;
}

h1 {
    margin: 0;
}

.logo {
    padding: 10px 0 0 230px;
    width: 100px;
    float: left;
}

.navegacao {
    display: inline-block;
    color: #DEDEDA;
    margin: 10px 100px;
    /* right: 600px;
    top: 0;
    position: absolute; */
}

.navegacao li {
    display: inline-block;
    padding: 25px 10px;
    font-size: 24px;
}

.navegacao a:hover {
    color: #ffbf00;

}

a {
    color: #DEDEDA;
}



/* -----------------------------------------  Main  ---------------------------------------------------------------------------------------------- */

.principal {
    background: rgb(33, 61, 83);
    height: 300px;
}


.item {
    display: inline-block;
}

/* -----------------------------------------  Cursos  ---------------------------------------------------------------------------------------------- */

.cursos {
    width: 940px;
    margin: 0 auto;
}

.h2_cursos {
    text-align: center;
    color: rgba(255, 255, 255, 0.74);
    background: rgb(95, 66, 66);
}

.lista-curso {
    padding: 5px 10px;

}


/* tá nas imagens*/
.curso {
    width: 300px;
    transition: 0.2s all;
}


.curso:hover {
    width: 293px;
    border: 1px solid rgb(185, 24, 24);
}


/* ---------------Linear cor */

.linear {
    background: rgb(143, 41, 41);
    width: 1000px;
    height: 10000px;
    

}

/* -----------------------------------------  Formações  ---------------------------------------------------------------------------------------------- */


.formacoes {
    width: 940px;
    margin: 0 auto;
}

.formacao1 {
    background: #FCFFF5;
    height: 300px;
    position: relative;
}


.formacao_img {
    width: 65px;
    float: left;
}

.formacao_h3 {
    width: 105px;
    padding: 13px 0 0 70px;
    margin: 0;
}

.formacao_absolute {
    position: absolute;
    top: 10px;
    left: 200px;
}

.icon_curso {
    opacity: 0.5;
}

.icon_curso:hover {
    opacity: 1;
}

/* ---------------  Formações2 --------*/
.formacao2 {
    background: #FCFFF5;
    height: 66px;
    position: relative;
    margin: 20px 0 0;
    border: 1px dotted black;
}


.formacao2_img {
    margin: 0 0 0 10px;
    width: 65px;
    float: left;
}


.formacao_2h3 {
    width: 105px;
    padding: 20px 0 0 79px;
    margin: 0;
}


.formacao2_absolute {
    position: absolute;
    top: 10px;
    left: 200px;
}

.icon_curso {
    opacity: 0.5;
}

.icon_curso:hover {
    opacity: 1;
}


/* ---------------  Formações3 --------*/

.formacao3 {
    background: #FCFFF5;
    height: 66px;
    position: relative;
    margin: 20px 0 0;
    border: 1px dotted black;
}


.formacao3_img {
    margin: 0 861px 0 11px;
    width: 65px;
    float: left;
}


.formacao_3h3 {
    width: 105px;
    padding: 20px 0 0 79px;
    margin: 0;
}


.formacao3_absolute {
    position: absolute;
    top: 10px;
    left: 200px;
}

.icon_curso {
    opacity: 0.5;
}

.icon_curso:hover {
    opacity: 1;
}






