/*------------------------------------------------------HEADER------------------------------------------*/

header {
    background-color: #CCCCCC;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}


nav li {
    display: inline; /*primeiro topo, depois pra  direita, baixo, esquerda */
    margin: 0 0 0 15px;
} /* todos os items da lista que tão na tag de nav */

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(192, 169, 42);
    text-decoration: underline;
}

/*------------------------------------------------------MAIN------------------------------------------*/


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px /* 20px 30px 40px; */
}

.produtos li:hover {
    border-color: rgb(165, 182, 72);
}

.produtos li:hover h1 {
    font-size: 34px;
}

.produtos li:active {
    border-color: green;
}

.produtos img {
    height: 200px;
    width: 250px;
    
}

.produtos h1 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

/*------------------------------------------------------MAIN------------------------------------------*/

footer {
    text-align: center;
    background-image: url(./img/back.png);
    padding: 40px 0px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px 0 0;
}