button {
    background-color: red;
    color: white;
    font-size: 40px;
    position: absolute;
    left: 690px;
    top: 350px;
    border-radius: 10px;
    border: none;
    
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}