@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
/* font-family: 'Golos Text', sans-serif; */


body {
    padding: 0;
    margin: 0;
    font-family: 'Golos Text', sans-serif;

}

/* =========================================== */

.cabecalhoPrincipal {
    background: rgb(22, 22, 22);
    display: flex;
    justify-content: space-around;
}


.estudo_logo {
    width: 4em;
    padding: 15px 25px;
}

.cabecalho_links {
    display: flex;
    gap: 100px;
}

.cabecalho_links-link {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.cabecalho_links-link:hover {
    color: rgb(109, 108, 108);
}

/* =========================================== */

.conteudoPrincipal {
    width: 1300px;
    margin: 0 auto;
}

.conteudoPrincipal-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.conteudoPrincipal-lista-cursos {
    list-style: none;
    width: 274px;
    transition: 0.5s;
}

.conteudoPrincipal-cursos-link-img {
    width: 274px;
    transition: 0.2s;
}

.conteudoPrincipal-cursos-link-img:hover {
    width: 300px;
}

/* =========-=--===============-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* .curso_data {
    background-color: rgb(22, 22, 22);
    color: white;
} */

.curso_data_titulo {
    background: rgb(22, 22, 22);
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso_data_lista-icon {
    display: flex;
    flex-wrap: wrap;
    list-style: none;   
}

.icon-data {
    gap: 10px;
    display: flex;
    padding: 50px;
}

.data {

}

.icon-data-img {
    width: 43px;
    transition: 0.5s;
}

.icon-data-img:hover {
    width: 53px;
}

.icon-acessibilidade-data {
    opacity: 0;
}

.icon-acessibilidade-data:hover {
    opacity: 1;
}


